GameClient/JawsOfDeath/Library/
GameClient/JawsOfDeath/Temp/
GameClient/JawsOfDeath/obj/
GameClient/JawsOfDeath/Logs/
GameClient/JawsOfDeath/UserSettings/
GameClient/JawsOfDeath/.vs/
Backend/bin/
Backend/obj/
Backend/.vs/